name: Laravel

on:
  push:
  workflow_dispatch:

jobs:
  composite-action-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        chunk: [1, 2, 3]
    env:
      IMAGE_VERSION: '6c81c29b-b08e-4df1-94c8-b27f85d037e9'
      CHUNKS: 3
      MAX_PROCESSES: 2
    steps:
      - uses: actions/checkout@v4

      - name: Call BoltCI's Action
        uses: boltci/action@1.0.25
        with:
          index: ${{ matrix.chunk }}
          chunks: ${{ env.CHUNKS }}
          max-processes: ${{ env.MAX_PROCESSES }}
          image: ghcr.io/boltci/boltci:${{ env.IMAGE_VERSION }}
